@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body {
    font-family: 'Varela Round', sans-serif;
    background-image: linear-gradient(to left, rgb(17, 17, 17), rgb(27, 27, 27));
    margin: 0;
    padding: 0;
    z-index: 0;
}
#container {
    background-color: black;
    /*background-color: rgb(160, 8, 165);*/
    width: 40%;
    padding: 50px 20px;
    border-radius: 20px;
    box-shadow: 0 0 1em rgb(0, 0, 0), inset 0 0 6em rgba(0, 0, 0, 0.849);
    margin: 0 auto;
    margin-top: 2.5%;
    color: white;
}
#container h1 {
    text-align: center;
    padding: 4% 0 10px 0;
    width: max-content;
    margin: 0 auto;
    transition: .2s;
}
#container h1:hover {
    color: rgb(255, 0, 0);
    font-size: 250%;
    transition: 0.5s;
    cursor: pointer;
}
#skull {
    z-index: 2;
    margin: 0;
    filter: invert();
    width: 2em;
    text-align: center;
    margin: 0 auto;

}
#menu {
    height: 50%;
    text-align: center;
    padding-top: 5%;
}
.botaoMenu {
    width: 110px;
    height: 100px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    background-color: rgb(255, 255, 255);
    transition: .3s;
    box-shadow: inset 0 0 1em rgb(95, 0, 0);
}
.botaoMenu:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 5px solid rgb(255, 41, 41);
    box-shadow:
    rgba(255, 0, 13, 0.171) -5px 5px,
    rgba(255, 0, 0, 0.3) -10px 10px,
    rgba(255, 0, 0, 0.2) -15px 15px,
    rgba(255, 0, 0, 0.1) -20px 20px,
    rgba(255, 0, 0, 0.05) -25px 25px;
    /*box-shadow:
    rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px,
    rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px,
    rgba(240, 46, 170, 0.05) -25px 25px;
    box-shadow: 0 0 2em rgb(0, 0, 0);*/
    cursor: pointer;
    transition: .3s;
}
#primo, #parimpar, #fatorial, #quadrado, #areacirculo, #bhaskara, #hipotenusa, #vmedia {
    height: 200px ;
    width: 100%;
    text-align: center;
    display: none;
    font-family: 'Varela Round';
}

#input1, #input2, #input3 {
    display: none;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    outline: none;
    position: relative;
    width: 20%;
    top: -8em;
}

#resultButt {
    width: 190px;
    height: 40px;
    border-radius: 2em;
    border: 1px solid rgb(0, 0, 0);
    background-image: linear-gradient(to right, rgb(255, 0, 191), rgb(25, 0, 255));
    display: none;
    top: 100px;
    position: relative;
    top: 75px;
    transition: 0.5s;
    color: white;
    margin: 0 auto;
    font-weight: bold;
}
#resultButt:hover {
    background-image: linear-gradient(to right, rgb(241, 36, 190), rgb(88, 70, 255));
    border: 5px solid white;
    width: 210px;
    cursor: pointer;
}
#result {
    background-color: white;
    color: black;
    top: 175px;
    height: 5em;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    display: none;
    position: relative;
    top: 4.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.452) inset;
}
#resultText {
    font-weight: bold;
    position: relative;
    top: 40%;
}
#credits {
    background-color: white;
    width: 12em;
    padding: 20px;
    border: 3px solid rgb(163, 0, 163);
    border-radius: 2em;
    opacity: 0;
    transition: .7s;
}
#credits:hover {
    opacity: 1;
}
#border {
    border: 5px dashed rgba(255, 255, 255, 0.123);
    width: max-content;
    border-radius: 2.2em;
    margin: 0 auto;
    margin-top: 0.6em;
}
/*h3 {
    position: absolute;
    bottom: 0;
    left: 4em;
    color: rgba(255, 255, 255, 0.308);
    padding: 20px;
    border-radius: 20px;
    border: 3px dashed rgba(255, 255, 255, 0.274)
}
